@charset "UTF-8";

#bookmark_content {
    width: 100%;
    height: 800px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 40px;
}
#bookmark_content_box{
	padding:20px 30px 30px 30px;
}
/*해당 페이지 네비바*/
.nav_list_area:nth-child(1){
   background-color: #12379e;
   border-radius: 15px;
}
.nav_list_area:nth-child(1) h4{
   color:white;
}
/*페이지 제목*/
.content_title{
	display: flex;
    font-size: 20px;
    font-weight: bold;
}
.title_bar{
    flex-grow: 1;
    margin: 0px 20px 10px 20px;
}

/*글 제목 검색*/
.content_head{
	display:flex;
	margin: 5px 0px 5px 20px;
	height: 40px;
	align-items: center;
}

.content_head_item{
	margin: 3px;
	justify-content: center;
	align-items: center;
	font-size:20px;
}
/*글제목 검색*/
#bookmark_search_box {
    width: 150px;
    height: 30px;
    margin-left: 3px;
    border-radius: 20px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
}

#bookmark_searchdetail {
    width: 150px;
    height: 28px;
    margin-left: 4px;
    border: none;
    outline: none;
    background-color: transparent;
}

#search_btn{
	width: 30px;
    height: 30px;
	margin: auto;
	display:block;
}

#search_btn:hover {
   cursor: pointer;
}

/*북마크 게시글 목록*/
#bookmark_list{
	padding:20px;
	padding-top: 0px;
	height: 600px;
}
.list_body{
	display:flex;
	height: 100px;
	border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}
/*북마크 썸네일*/
.bookmark_thumbnail, .thumbnail_img{
	width:120px;
	height:85px;
}
.list_item{
	padding:7px;
}
.bookmark_row{
	display:inline-flex;
	width:100%;
	margin:1px;
}
.bookmark_row > .bookmark_item{
	margin-right: 15px;
}
.bookmark_item_title{
	width:90%;
	font-size:20px;
	font-weight: bold;
	white-space: nowrap;
  	overflow: hidden;
    text-overflow: ellipsis;  /*말줄임 적용*/
}
/* 페이지 번호 */
#bookmark_page {
	padding : 5px;
	display: flex;
    justify-content: center;
    font-weight: bold;
}
.page{
	padding : 3px 5px 5px 5px;
	font-size: 25px;
	justify-content: center;
    align-items: center;
}

.direction_prev, .direction_next{
	display: flex;
}

.direction_prev .true, .direction_next .true{
	color: white;
}

.direction_prev .false, .direction_next .false{
	color: black;
}

.direction_next div{
	color: white;
	font-size: 25px;
	background-color: #12379e;
	border-radius:5px;
	border: 2px solid white;
	padding: 5px 7px;
	margin: auto 0px;
	height:20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.direction_prev div{
	color: white;
	font-size: 25px;
	background-color: #12379e;
	border-radius:5px;
	border: 2px solid white;
	padding: 5px 7px;
	margin: auto 0px;
	height:20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
