@charset "UTF-8";

#bookmark_content {
    width: 100%;
    height: 800px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 40px;
}

.bookmark_btn{
	width: 30px;
    height: 30px;
}

.bookmark_btn:hover, .modal_bookmarkcheck_btn button:hover {
   cursor: pointer;
}


/*로그인 안했을때 모달*/
#modal_bookmarkcheck {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.modal_bookmarkcheck_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}
.modal_bookmarkcheck_content {
	width: 350px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}
.modal_bookmarkcheck_title {
	width:100%;
	margin: 30px auto;
	text-align: center;
}

.modal_bookmarkcheck_btn{
	display: flex;
	flex-direction: row;
}

.modal_bookmarkcheck_btn button{
	text-align: center;
}

#modal_bookmarkcheck_close_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #bdbdbd;
}

#modal_bookmarkcheck_ok_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}
