@charset "UTF-8";

#content {
    width: 100%;
    height: 800px;
    background-color: white;
    margin-bottom: 40px;
}

/* 아이디 모달*/
#modal_idfind button:hover{
	cursor: pointer;
}
#modal_idfind {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_idfind .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*화면 가운데 정렬*/
	display: flex; 
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_idfind .modal_content {
	width: 400px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}


#modal_idfind h1 {
	margin: 3px;
}

.modal_idfind_btn{
	display: flex;
	flex-direction: row;
}

.modal_idfind_btn button{
	text-align: center;
}
#modal_idfind_close_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #bdbdbd;
}

#modal_idfind_ok_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}

/* IDFINDRESULT */
#modal_idfindreuslt button:hover{
	cursor: pointer;
}
#modal_idfindresult {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_idfindresult .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*화면 가운데 정렬*/
	display: flex; 
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_idfindresult .modal_content {
	width: 350px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}


#modal_idfindresult h1 {
	margin: 3px;
}

.modal_idfindresult_btn{
	display: flex;
	flex-direction: row;
}

.modal_idfindresult_btn button{
	text-align: center;
}
#modal_idfindresult_close_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}

#modal_idfindresult_ok_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}

/* 입력 CSS */
#email {
	display: flex;
	justify-content: center;
	
}

#email_box {
	width: 180px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
    border: none;
    text-align: center; 
    display: flex;
    justify-content: center;
}

#email_email { 
    width: 300px;
    height: 30px;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    
}

#phone {
	display: flex;
	justify-content: center;
}

#phone_box {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
    border: none;
    text-align: center; 
    display: flex;
    justify-content: center;
}

#phone_phone { 
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;    
}

/* 생년월일 */


#birth {
	display: flex;
	justify-content: center;
	
}


#birth_box {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
    border: none;
    text-align: center; 
    display: flex;
    justify-content: center;
	
}


#birth_yy { 
    width: 70px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;   
    
}

#birth_mm { 
    width: 70px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 30px;
}

#birth_dd { 
    width: 70px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    
}

/* 이메일 인증 번호 CSS */
/* btn */
#idemailok_box {
	width: 180px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
    border: none;
    text-align: center; 
    display: flex;
    justify-content: center;
    margin-top:10px;
}


#idfindrequest {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
    margin-left: 20px;
    margin-top:10px;
}

#idfindemailCheck {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
    margin-left: 20px;
}
/* */


#idfindemailCode {
	width: 100px;
    height: 30px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

#idfindemailtime {
	width: 80px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    margin-bottom:10px;
    color: red;
    margin-top:5px;
}

#checkimg{
	margin-left: 50px;
}
