@charset "UTF-8";

#bookmark_content {
    width: 100%;
    height: 800px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 40px;
}

.bookmark_btn{
	width: 30px;
    height: 30px;
}

.bookmark_btn:hover{
   cursor: pointer;
}
