h4{
	margin:0 0 0 10px;
}

#all_content{
	display: flex;
	flex-wrap: nowrap;
	flex-grow:1;
	justify-content: space-around;
}

#index_inner_space {
    width: 100%;
    height: 85px;
    display:flex;
    align-items: flex-end;
}

#content {
    width: 560px;
    height: 370px;
    background-color: white;
    margin: 30px 30px 30px 30px;
    border-radius: 15px;
    flex-grow:1;
}

.index_name{
	padding : 10px 30px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px gray;
}

h2{
	color:  #12379e;
}

h3{
	margin: 10px auto 0 auto;
}

#admin_member_content_box{
	padding: 0px 30px;
	height: 270px;
}

.adminmember_title_container{
	width: 100%;
	display:flex;
	background-color: #7D7D7D ;
	margin-bottom: 5px;
	justify-content: space-between;
}

.adminmember_container{
	width: 100%;
	display:flex;
	background-color: rgb(209, 209, 209) ;
	margin-bottom: 3px;
	justify-content: space-between;
}

.title_item {
	margin: 5px 5px 5px 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bold;
}
.title_item:nth-child(1) {width:70px;flex-shrink: 0;}
.title_item:nth-child(2) {width:70px;flex-shrink: 0;}
.title_item:nth-child(3) {width:70px;flex-shrink: 0;}
.title_item:nth-child(4) {width:90px;flex-shrink: 0;}
.title_item:nth-child(5) {width:70px;flex-shrink: 0;}
.title_item:nth-child(6) {width:70px;flex-shrink: 0;}

.admin_item {
	margin: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 8px;
}

.admin_item:nth-child(1) { width:70px;flex-shrink: 0;}
.admin_item:nth-child(2) { width:70px;flex-shrink: 0;}
.admin_item:nth-child(3) { width:70px;flex-shrink: 0; font-weight: bold;}
.admin_item:nth-child(4) { width:90px;flex-shrink: 0;}
.admin_item:nth-child(5) { width:70px;flex-shrink: 0;}
.admin_item:nth-child(6) { width:70px;flex-shrink: 0;}

.report_title_item {
	margin: 5px 5px 5px 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bold;
}
.report_title_item:nth-child(1) {width:70px;flex-shrink: 0;}
.report_title_item:nth-child(2) {width:70px;flex-shrink: 0;}
.report_title_item:nth-child(3) {width:220px;flex-shrink: 0;}
.report_title_item:nth-child(4) {width:70px;flex-shrink: 0;}

.report_item {
	margin: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 8px;
}

.report_item:nth-child(1) { width:70px;flex-shrink: 0;}
.report_item:nth-child(2) { width:70px;flex-shrink: 0;}
.report_item:nth-child(3) { 
	width:220px;
	flex-shrink: 0; 
	font-weight: bold;
	white-space: nowrap; 
	justify-content: flex-start;
	overflow: hidden; 
	text-overflow: ellipsis;	
}
.report_item:nth-child(4) { width:70px;flex-shrink: 0;}

.post_title_item {
	margin: 5px 5px 5px 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bold;
}
.post_title_item:nth-child(1) {width:70px;flex-shrink: 0;}
.post_title_item:nth-child(2) {width:70px;flex-shrink: 0;}
.post_title_item:nth-child(3) {width:70px;flex-shrink: 0;}
.post_title_item:nth-child(4) {width:230px;}
.post_title_item:nth-child(5) {width:70px;}

.post_item {
	margin: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 8px;
}

.post_item:nth-child(1) { width:70px;flex-shrink: 0;}
.post_item:nth-child(2) { width:70px;flex-shrink: 0;}
.post_item:nth-child(3) { width:70px;flex-shrink: 0;}
.post_item:nth-child(4) { 
	width:230px;
	font-weight: bold;
	white-space: nowrap; 
	justify-content: flex-start;
	overflow: hidden; 
	text-overflow: ellipsis;	
}
.post_item:nth-child(5) {width:70px;}

.notice_title_item {
	margin: 5px 5px 5px 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bold;
}
.notice_title_item:nth-child(1) {width:70px;flex-shrink: 0;}
.notice_title_item:nth-child(2) {width:280px;flex-shrink: 0;}
.notice_title_item:nth-child(3) {width:70px;flex-shrink: 0;}

.notice_item {
	margin: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 8px;
}

.notice_item:nth-child(1) { width:70px;flex-shrink: 0;}
.notice_item:nth-child(2) { 
	width:280px;
	flex-shrink: 0; 
	font-weight: bold;
	white-space: nowrap; 
	justify-content: flex-start;
	overflow: hidden; 
	text-overflow: ellipsis;	
}
.notice_item:nth-child(3) { width:70px;flex-shrink: 0;}

.quit_type{
	height: 20px;
	border:none;
	background: #7D7D7D ;
	font-size:8px;
	font-weight: bold;
}

.report_type{
	height: 20px;
	border:none;
	background: #7D7D7D ;
	font-size:8px;
	font-weight: bold;
}

.post_type{
	height: 20px;
	border:none;
	background: #7D7D7D ;
	font-size:8px;
	font-weight: bold;
}

#button_area{
	padding: 0px 30px;
	display: flex;
	justify-content: flex-end;
}

#all_select{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 70px;
    height: 21px;
    border: none;
    border-radius: 30px;
    color: white;
    background: #12379e;
    font-size: 13px;
}
