h4{
	margin:0 0 0 10px;
}

#introduce_content_area {
    background-color: white;
    margin: 20px 30px 0px 30px;
    border-radius: 15px;
    flex-grow:1;
}

#introduce_content_box {
    padding: 20px 30px 10px 30px;
    display: flex;
}

#profile_img{
	width:170px;
}

#profile_img > img{
	width:130px;
	height:130px;
	border-radius: 80%;
}

#introduce_nickname{
	margin: 0 0 10px 0;
	display: flex;
	align-items: center;
	font-size: 35px;
	font-weight:bold;
	color:  #12379e;
}

#profile_content{
	margin: 5px 30px 0px 30px;
	flex-grow: 1;
}

#introduce_content{
	margin: 10px 20px 0px 20px;
	padding-bottom: 20px;
	flex-grow: 1;
	font-size: 18px;
}

#history_area{
	display: flex;
	flex-wrap: nowrap;
	flex-grow:1;
	justify-content: space-around;
}

#raking_post_box{
    width: 560px;
    background-color: white;
    margin: 30px 15px 30px 30px;
    border-radius: 15px;
    flex-grow:1;	
}

#raking_comment_box{
    width: 560px;
    background-color: white;
    margin: 30px 30px 30px 15px;
    border-radius: 10px;
    flex-grow:1;
}

#raking_post{
	padding: 20px 30px 30px 30px;
}

#title{
	width: 100%;
	height:35px;
	display:flex;
	align-items: center;
	font-size: 20px;
	font-weight:bold;
	padding: 0 0 10px 0;
}

.post_container{
	background-color: rgb(209, 209, 209) ;
	margin: 0 5px 10px 5px;
}

.comment_container{
	background-color: rgb(209, 209, 209) ;
	margin: 0 0 10px 0;
}

#content_box{
	height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;	
}

.post_box{
	margin: 10px 10px 10px 10px;
}

.comment_box{
	margin: 10px 10px 10px 10px;
}

.posttitle{
	font-size: 20px;
	font-weight:bold;
	align-items: center;
	display: inline-block; 
	width: 360px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;

}

.classtitle{
	display: inline-block; 
	width: 360px; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.commentcontent{
	font-size: 17px;
	font-weight:bold;
	align-items: center;
	padding: 3px 0 8px 0;
}

.detail{
	display:flex;
	justify-content: space-between;
}

.detail_two{
	height: 35px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.viewcount{
	font-size: 13px;
}

#raking_comment{
	padding: 20px 30px 30px 30px;
}

#profile_inner_space {
    width: 100%;
    height: 30px;
}