@charset "UTF-8";
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

h4{
   margin:0 0 0 10px;
}

.nav_list_area:nth-child(2){
   background-color: #12379e;
   border-radius: 15px;
}

.nav_list_area:nth-child(2) h4{
   color:white;
}

.container {
    display: flex;
}

#nav_area {
    position: fixed;
    flex-basis: 200px;
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

#nav_space {
    width: 140px;
    height: 969px;
}

#logo {
    margin-top: 20px;
    width: 100%;
    
}

#nav_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    
}
#nav_profile_img {
    margin: 0 auto 0 auto;
    width: 113px;
}

#nav_login_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #e7e7e7;
}

#nav_login_btn:hover {
    transition: 0.5s;
    color: white;
    background: #12379e;
}

#nav_list {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_list_area {
    width: 100%;
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: 400;
}

#content_container {
    flex-grow: 1;
    background-color: #f4f4f4;
}

#content_container_space {
    margin-left: 240px;
    margin-right: 40px;
}

#search_area {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

#search_box {
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
}

#search_icon_area {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_box_space {
    width: 5px;
}

#search {
    width: 200px;
    height: 40px;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* */
.btn {
    padding: 7px 12px 7px 12px;
    background-color: #12379e;
    border-radius: 30px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.reportpostbtn{
	padding: 7px 12px 7px 12px;
    background-color: #ce4764;
    border-radius: 30px;
    margin-right: 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#rankwrite_btn {
    padding: 7px 12px 7px 12px;
    background-color: #12379e;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    outline: none;
}

#templist_btn {
    padding: 7px 12px 7px 12px;
    background-color: #12379e;
    border-radius: 30px;
    margin-right: 15px;
    border: none;
    outline: none;
}

#rankwrite_btn > a {
    color: white;
}

#templist_btn > a {
    color: white;
}

#postsearch_area {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#postsearch_box {
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    align-self: center;
    box-shadow: 0px 0px 4px rgb(209, 209, 209);
}

#postsearch_icon_area {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postsearch_box_space {
    width: 5px;
}

#postsearch {
    width: 200px;
    height: 40px;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* */

.inner_space {
    width: 100%;
    height: 20px;
}

.post_space {
    width: 100%;
    height: 40px;
}

#content {
    width: 100%;
    height: 1000px;
    background-color: #f4f4f4;
}

#category_area {
    height: 50px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.category_name {
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    color: black;
}

.category_list {
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    color: black;
}

#cate_detail {
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}

#rank_container {
    width: 100%;
    display: flex;
}

#rank_post_list_area {
    flex-grow: 1;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#rank_post_list_area_box{
	padding: 0 50px 0 0;
	flex-grow: 1;
}

#rank_post_list_title{
	font-size:28px;
}

#rank_post_list {
	width:1000px;
    flex-grow: 1;
    margin: 35px 40px 40px 40px;
    height: 800px;
    background-color: rgb(255, 255, 255);
}

#rank_post {
    width: 100%;
}

.rank_post_box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
}
.rank_post_box2 {
    width: 100%;
    height: 85px;
    display: flex;
}

.rank_post_thumbnail {
    width: 120px;
    height: 85px;
    background-color: rgb(231, 231, 231);
}

.rank_post_thumbnail_inner {
    width: 120px;
    height: 85px;
}

.rank_post_space {
    width: 20px;
}

.rank_post_inner {
    width: 100%;
    height: 85px;
}
.rank_post_inner_1 {
    display: inline-flex;
}

.rank_post_inner_1 > p {
    color: gray;
    padding-right: 20px;
}

.rank_post_inner_2 > h3 {
    font-size: 23px;
}

.rank_post_inner_3 {
    display: flex;
    justify-content: space-between;
}

.rank_post_inner_3 > div {
    display: flex;
}

.rank_post_inner_3 > div > p {
    padding-right: 20px;
}

#post_content {
    width: 100%;
    height: 400px;
    resize: none;
}

#rankboard_area {
    width: 380px;
    height: 900px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#rankboard_title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
}

#rankboard_list {
    width: 270px;
    height: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rankboard_list_box {
    width: 100%;
    height: 60px;

    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
}

.rankboard_list_number {
    padding-right: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.rankboard_list_number > h1 {
    font-size: 42px;
}

#rankboard_post_title{
	font-size:21px;
	font-weight:bold;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#rankboard_post_detail{
	font-size:16.5px;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* 게시물 조회 css*/
/*//////////////////////////////////////////////////////////////////*/
#rank_post_profile_area {
    display: flex;
    justify-content: space-between;
}

#rank_post_profile {
    display: flex;
    justify-content: space-between;
}

#rank_post_update {
    display: flex;
}

#rank_post_date {
    display: flex;
}

#rank_post_date > p{
    margin-right: 20px;
}

#rank_post_class {
    display: flex;
}

#rank_post_link_box {
    width: 470px;
    background-color: #e7e7e7;
}

#rank_post_title {
    margin-top: 30px;
    border-bottom: 3px solid #12379e;
}

#rank_post_content_box {
    margin: 30px 0 30px 0;
    border-bottom: 3px solid #12379e;
}

#rank_post_content {
    width: 100%;
    height: 400px;
    border: none;
    resize: none;
}

#rank_post_content:focus {
    outline: none;
}

#rank_post_likecount {
    display: flex;
    justify-content: center;
}
#rank_post_likecount > button {
    width: 100px;
    margin-right: 20px;
}

#like_btn {
    padding: 7px 12px 7px 12px;
    background-color: #12379e;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#like_btn > h3 {
    color: white;
}

#dislike_btn {
    padding: 7px 12px 7px 12px;
    background-color: #ce4764;
    border-radius: 30px;
    margin-right: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#dislike_btn > h3 {
    color: white;
}
/*////////////////       페이징        //////////////*/
#paging {
    display: flex;
    justify-content: center;
}

.paging_btn {
    margin: 0 8px 0 8px;
}

.paging_btn > a:hover {
    color: red;
    transition: all 0.3s;
}

/* 코멘트 */

#comment_insert_box {
    display: flex;
}

#commentcontent {
    padding: 8px;
    width: 100%;
    background-color: white;
    border: none;
    resize: none;
    border: 1px solid black;
}

#comment_insert_btn {
    width: 50px;
    background-color: white;
    color: #12379e;
    font-weight: 500;
}

#comment_insert_btn:hover {
    background-color: #12379e;
    color: white;
    transition: 0.3s;
}

#commentcontent:focus {
    outline: none;
}

.comment_inner1 {
    display: flex;
    justify-content: space-between;
}

.comment_inner1_box1 , .comment_inner1_box2 {
    display: flex;
}

.comment_inner1_box2 > button {
    margin-left: 10px;
}

.comment_inner1_box2 > p {
    margin-right: 10px;
}

.comment_date {
    margin-right: 20px;
}

.comment_box {
    background-color: #e7e7e7;
}

.comment_textarea {
    width: 100%;
    border: none;
    resize: none;
}

.comment_textarea:focus {
    outline: none;
}


/* 썸네일 */

#thumbnail_area {
    display: flex;
}

#thumbnail_preview_area {
    width: 120px;
    height: 85px;
    background-color: #e7e7e7;
}

#thumbnail_text {
    margin-left: 20px;
}

.thumbnail_preview {
    width: 120px;
    height: 85px;
}

.post_writer_profile{
    width: 80px;
    height: 80px;
    border-radius: 80%;
}