@charset "UTF-8";

#inner_space{
	width: 100%;
    height: 70px;
}

#report_content {
    width: 100%;
    height: 830px;
    border-radius:15px;
    background-color: white;
    margin-bottom: 70px;
}

h3{
	margin: 10px auto 0 auto;
}
/*해당 페이지 네비바*/
.nav_list_area:nth-child(2){
   background-color: #12379e;
   border-radius: 15px;
}
.nav_list_area:nth-child(2) h4{
   color:white;
}
/*관리 탭*/
.content_report_tab{
	display:flex;
}
.content_report_tab a{
	font-size: 30px;
	font-weight: bold;	
}
/*글분류 검색, 버튼, 삭제 버튼*/
.content_head{
	display:flex;
	margin: 30px 0px 0px 20px;
	height: 50px;
	align-items: center;
}

.content_head_item{
	margin: 3px;
	justify-content: center;
	align-items: center;
}

#division_btn{
	width: 30px;
    height: 30px;
	margin: auto;
	display:block;
}

#delete_btn {
    margin: auto 15px;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}

#division_btn, .toggle, button:hover {
   cursor: pointer;
}

/*신고 내역 목록*/
#report_list{
	padding:20px;
	padding-top: 0px;
	height: 550px;
}

.list_head{
	width: 100%;
	display:flex;
	background-color: rgb(209, 209, 209) ;
	margin-bottom: 10px;
}
.list_body, .list_row{
	margin-bottom: 5px;
}

.list_row{
	width: 100%;
	display:flex;
	background-color: #f4f4f4;
}
.report{
	margin: 15px auto;
	text-align: center;
	white-space: nowrap;
  	overflow: hidden;
    text-overflow: ellipsis;  /*말줄임 적용*/
}


input[type="checkbox"]{
	height:20px;
	width:20px;
	margin-top: 3px;
}

/*상세 확인 모달창*/
#modal_report {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_report .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*화면 가운데 정렬*/
	display: flex; 
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_report .modal_content {
	width: 600px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}

#modal_report h2 {
	margin: 0;
}

#modal_report button {
	display: inline-block;
	width: 70px;
	margin-left: calc(100% - 100px - 10px);
	height: 25px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
} 

.modal_content_body{
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.reportdetail_head, .reportdetail_body{
	width: 98%;
	margin:5px;
	display:flex;
	background-color: #f4f4f4;
	text-align: justify;
}

#modal_report .report{
	text-align: justify;
}
.reportdetail_head > .report:first-child,
.reportdetail_body > .report:first-child{
	width:10%;}
 
.reportdetail_head > .report:nth-child(2),
.reportdetail_body > .report:nth-child(2){
	width:30%;}
 
.reportdetail_head > .report:last-child,
.reportdetail_body > .report:last-child  {  
	width:60%; 
	
} 
.reportdetail_head {	
	background-color: rgb(209, 209, 209) ;
}
.reportdetail_body {
   	white-space: wrap;   

}

/*체크 내역 없음 모달*/
#modal_check {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#modal_check .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}
#modal_check .modal_content {
	width: 350px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}
#modal_check .modal_content_title {
	width:100%;
	margin: 30px auto;
	text-align: center;
}
#modal_check_close_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
    display:block;
}

/* 삭제 확인 모달*/
#modal_confirm {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#modal_confirm .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
}

#modal_confirm .modal_content {
	width: 350px;
	margin: 250px auto;
	padding: 20px 10px;
	border-radius: 10px;
	background: #fff;
	border: 2px solid #666;	
}

#modal_confirm h2 {
	margin:40px 0;
	text-align: center;
}

.modal_confirm_btn{
	display: flex;
	flex-direction: row;
}

.modal_confirm_btn button{
	text-align: center;
}

#modal_confirm_close_btn {
    margin: 10px auto 0 auto;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: black;
    background: #bdbdbd;
}

#modal_confirm_ok_btn {
	margin: 10px auto 0 auto;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 25px;
    color: white;
    background: #12379e;
}

/* 페이지 번호 */

#report_page {
	margin-top: 35px;
	padding : 5px;
	display: flex;
    justify-content: center;
    font-weight: bold;
}

.page{
	padding : 5px;
	font-size: 25px;
	justify-content: center;
    align-items: center;
}

.direction_prev, .direction_next{
	display: flex;
}

.direction_prev .true, .direction_next .true{
	color: white;
}

.direction_prev .false, .direction_next .false{
	color: white;
}

.direction_next div{
	color: white;
	font-size: 25px;
	background-color: #12379e;
	border-radius:5px;
	border: 2px solid white;
	padding: 5px 7px;
	margin: auto 2px;
	height:20px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.direction_prev div{
	color: white;
	font-size: 25px;
	background-color: #12379e;
	border-radius:5px;
	border: 2px solid white;
	padding: 5px 7px;
	margin: auto 2px;
	height:20px;
	display: flex;
    justify-content: center;
    align-items: center;
}
